/* Profil.module.css */
.outer {
    width: 100%;
    height: 100vh;
    background: #fce3fe;
    padding-top: 150px;
    padding-bottom: 6.1rem;
}
.container-login {
    max-width: 600px;
    margin: auto;
    margin-top: 2rem;
    padding: 20px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container {
    margin-top: 20px;
}

.form-group {
    display: grid;
    grid-template-columns: 1fr 1.5fr 0.5fr;
    align-items: center;
}
.form-group div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
}
.form-group div input {
    width: 100%;
    margin-top: 1rem;
    height: min-content;
    border-radius: 1px solid #c9c9c9;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
    padding-left: 8px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group p {
    margin: 0;
    padding: 8px;
    margin-bottom: 5px;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.form-container button {
    padding: 10px 15px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background-color: #ff4141;
    color: #fff;
    font-size: 16px;
}

.form-container button:hover {
    background-color: #d63434;
}
.form-container button:active {
    background-color: #ff4141;
}

.invalid input {
    border-color: red;
    background: #fbdada;
    outline: none;
    border: 1px solid #ccc;
}
.invalid p {
    font-size: 10px;
    text-decoration: underline;
    color: #d63434;
    margin-bottom: 0px;
    height: 10px;
}
