.container-outer {
    width: 100%;
    height: 100%;
    background: #fce3fe;
    padding-top: 150px;
    padding-bottom: 3.8rem;
}
.container {
    width: 580px;
    height: 580px;
    background: white;
    margin: auto;
    padding: 40px 60px;
    box-shadow: 2px 2px 4px rgba(125, 44, 44, 0.1);
}
.container-login {
    width: 580px;
    height: 460px;
    background: white;
    margin: auto;
    padding: 40px 60px;
}
.container h1 {
    margin: 20px 0px;
}
.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    overflow: hidden;
}
.form-container a {
    text-decoration: underline;
    color: rgb(85, 85, 169);
    margin-bottom: 0.5rem;
}

.submit {
    width: 8rem;
    height: 35px;
    color: white;
    border-radius: 15px;
    background-color: #ff4141;
    padding-bottom: 34px;
    border: none;
    font-size: 16px;
    font-weight: 500;
}
.submit:hover {
    background-color: #d63434;
}
.submit:active {
    background-color: #ff4141;
}
.toggle {
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}
.toggle span a {
    color: #ff4141;
    font-weight: 600;
    text-decoration: none;
    padding-left: 0.3rem;
}
.toggle span a:hover {
    color: #e99999;
}
.toggle span a:active {
    color: #ff4141;
}
.terms-and-conditions {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    gap: 20px;
    font-size: 14px;
}
.terms-and-conditions input {
    padding-top: 0;
}

.control input {
    height: 50px;
    width: 100%;
    padding-top: 8px;
    padding-left: 8px;
    border-radius: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
    border-radius: 15px;
    border: 1px solid black;
}
.control.invalid input {
    border-color: red;
    background: #fbdada;
}
.control.invalid p {
    font-size: 10px;
    text-decoration: underline;
    color: #d63434;
    margin-left: 10px;
    margin-bottom: 0px;
}
